.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.header > h1 {
  font-size: 20px;
  font-weight: 800;
}
/* Chrome */
.feed::-webkit-scrollbar {
  display: none;
}

/* IE, Edge, FIrefox */
.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
