.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.post-body > img {
  border-radius: 20px;
  object-fit: contain;
  height: 400px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post-badge {
  font-size: 14px;
  color: var(--twitter-color);
}

.post-header-text {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post-span > h3 {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.description {
  margin-bottom: 10px;
  font-size: 15px;
}

.post-body {
  flex: 1;
  padding: 10px;
}

.post-avatar {
  padding: 20px;
}
